.rocket-img {
  width: 25%;
  height: 12%;
  padding: 1%;
}

.rocket-data {
  padding: 1.7% 2%;
}

.roc-name {
  font-size: 1.5rem;
}

.roc-text {
  font-size: 0.9rem;
}

.cancel-btn {
  padding: 0;
  background-color: rgb(73, 139, 117);
  margin: 1%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
