* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

header {
  display: flex;
  overflow: hidden;
  padding: 15px 30px;
  width: 85%;
  margin: auto;
  border-bottom: solid 1px rgb(53, 52, 52);
}

.logo-container {
  display: flex;
  gap: 10px;
  text-decoration: none;
  cursor: pointer;

  h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
    margin-top: 6px;
    text-decoration: none;
    color: rgb(42, 41, 41);
    &:hover,
    &:active {
      text-decoration: underline;
    }
  }
}

img {
  margin-top: 7px;
  width: 40px;
  height: 40px;
}

.links-container {
  display: flex;
  list-style-type: none;
  gap: 20px;
  margin-left: auto;
  margin-top: 5px;

  // Use the "&" symbol to reference the parent ".links-container" selector
  .nav-routes {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-decoration: none;

    &:hover,
    &:active {
      text-decoration: underline;
    }
  }
}
